@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --color-primary: #006241;
  --color-secondary: #d50032;
  --color-extra: #d4e9e2;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open-Sans", sans-serif;
  line-height: 1.4;
  color: black;
}
a {
  color: black;
}
ul {
  list-style: none;
}
p {
  margin: 5px 0;
  line-height: 1.7;
}
img {
  max-width: 100%;
}
section a {
  color: white;
}
/**End global rules */
/* start framework classes */

/** start Grid style */
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.grid-reversed :first-child {
  order: 2;
}
@media (max-width: 768px) {
  .grid-col-2 {
    grid-template-columns: 1fr;
  }
  .grid-reversed:first-child {
    order: 0;
  }
}

/** end Grid style */

/* * start buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px black solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}
.btn-dark-outline:hover,
.btn-light-outline:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.btn-dark-outline {
  color: black;
}
.btn-dark {
  background-color: black;
  color: white;
}
.btn-dark:hover {
  background-color: #333;
}
.btn-light-outline {
  border: solid 1px white;
  color: white;
}

/* *end buttons */
/** start backgrouds */
.bg-primary {
  background-color: var(--color-primary);
  color: white;
}
.bg-secondary {
  background-color: var(--color-secondary);
  color: white;
}
.bg-extra {
  background-color: var(--color-extra);
  color: black;
}
.bg-dark {
  background-color: black;
  color: white;
}
/** end backgrouds */
/** start text  */
.text-center {
  text-align: center;
}
.text-xl {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  margin-bottom: 20px;
}
.text-lg {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.text-md {
  font-size: 24px;
  margin-bottom: 20px;
}
.text-sm {
  font-size: 19px;
  margin-bottom: 20px;
}
@media (max-width: 960px) {
  .text-xl {
    font-size: 30;
  }
  .text-lg {
    font-size: 25px;
  }
  .text-md {
    font-size: 19px;
  }
}
/** start text  */
/** start padding */
.py-sm {
  padding: 10px 0;
}
.py-md {
  padding: 20px 0;
}
.py-lg {
  padding: 40px 0;
}
/** end padding */

/* end framework classes */
/** start navbar  */
.navbar {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  position: fixed;
}

.narbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar li {
  margin: 0 15px;
  font-weight: bold;
}
.navbar a {
  color: black;
  text-decoration: none;
}
.navbar a:hover {
  color: var(--color-primary);
}
.navbar-brand {
  width: 50px;
  height: 50px;
}
.navbar-nav-left {
  text-transform: uppercase;
  flex: 1;
  margin-left: 20px;
}
.navbar-nav-right li:first-child a {
  align-items: center;
}
.navbar-nav-right img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.navbar-nav-right li:nth-child(2) {
  margin: 0 5px;
}
/** <!-- Strat three lines menu -->*/
.tlm {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.3s;
  display: none;
}

.tlm-top,
.tlm-middle,
.tlm-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: black;
  transform: rotate(0);
  transition: 0.5s;
}

.tlm-middle {
  transform: translateY(7px);
}
.tlm-bottom {
  transform: translateY(14px);
}
.open .tlm-top {
  transform: rotate(45deg) translate(6px, 6px);
}
.open .tlm-middle {
  display: none;
}
.open .tlm-bottom {
  transform: rotate(-45deg) translate(-6px, 6px);
}
@media (max-width: 768px) {
  .tlm {
    display: block;
  }
}
/**<!-- End three lines menu --> */
/** end navbar  */
/** start mobile menu */
.mobile-menu {
  position: fixed;
  background-color: white;
  top: 80px;
  right: 0;
  width: 90%;
  height: 100%;
  color: black;
  padding: 30px;
  box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 / 7%);
  transition: all 0.3s;
}
.mobile-menu ul {
  line-height: 3;
  border-bottom: #777 solid 1px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
}
.mobile-menu a:hover {
  color: var(--color-primary);
}
.mobile-menu div {
  margin-top: 20px;
}
.mobile-menu img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.mobile-menu div a {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.hidden {
  transform: translateX(100%);
}
/** end mobile menu */
/** start Box */
.box {
  margin-bottom: 30px;
}
.box-inner {
  max-width: 700px;
  margin: 0 auto;
}
.box-text {
  max-width: 500px;
  text-align: center;
  justify-self: center;
  padding: 20px 0;
  margin: 0 auto;
}
.box-f .box-text {
  max-width: 600px;
}
.box-text .btn {
  margin-top: 20px;
}
@media (min-width: 1440px) {
  .box {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .navbar .navbar-nav-left,
  .navbar .navbar-nav-right {
    display: none;
  }
  .navbar-brand {
    width: 40px;
    height: 40px;
  }
}
/** end Box */
.divider {
  width: 95%;
  height: 1px;
  background-color: #ccc;
  margin: 40px auto;
}
@media (min-width: 1440px) {
  .divider {
    max-width: 90%;
  }
}
/** start footer & social  */
.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 30px;
}
.social {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.social img {
  width: 35px;
  height: 35px;
}
.social a {
  text-decoration: none;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}

/** End footer & social  */
